#main{
    margin-top: 10vh;
}

#products_table_div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
#products_table{
    grid-column-start: 2;
    border-collapse: collapse;
    table-layout: auto;
    height: 33.8vh;
}
#products_table th:last-child {
    border-top-right-radius: 25px;
}

#products_table th:first-child {
    border-top-left-radius: 25px;
}

#products_table tr:last-child td:first-child {
    border-bottom-left-radius: 25px;
}

#products_table tr:last-child td:last-child {
    border-bottom-right-radius: 25px;
}

#product_buttons_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-start: 2;
}
.products_button{
    font-size: 2rem;
    min-width: 15vw;
    border-radius: 20px;
    border: 2px groove royalblue;
    background-color: cornflowerblue;
    color: whitesmoke;
    margin-top: 20px;
}

.products_button:hover{
    background-color: rgb(33, 93, 204);
    border: hidden;
}

.products_button:first-child {
    grid-column-start: 2;
    justify-self: start;
    margin-left: 4vw;

}
.products_button:last-child {
    justify-self: end;
    margin-right: 4vw;
}