:root{
  --section-gradient-1: #203c56;
  --section-gradient-2: #544e68;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(to bottom right, var(--section-gradient-1), var(--section-gradient-2));
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

