#filter_container{
    grid-column-start: 1;
    margin-top: 15%;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 1.3rem;
    color: whitesmoke;
    border-collapse: collapse;
}
#number_input input, #number_input button{
    font-size: 1.25rem;
}

#number_input input{
    width: 50%;
    border-radius: 20px;
    border: 2px groove royalblue;
}

.filter_button{
    min-width: 20%;
    background-color: cornflowerblue;
    border: 2px groove royalblue;
    color: whitesmoke;
    border-radius: 25px;
    margin-inline: 5px;
}

.filter_button:hover{
    background-color: rgb(33, 93, 204);
}
