th{
    background-color: whitesmoke;
    height: 15%;
}

tr {
    font-size: 1.5rem;
}
th, td{
    text-align: center;
    line-height: 50px;
    width: 33.3%;
}

th, td:not(tr:last-child td){
    border-bottom: 1px snow solid;
}